header {
  margin-top: 50px;
}

header > img {
  border-radius: 10px;
}

.jogo {
  width: 800px;
  height: 280px;
  margin: 0px auto;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 20px;
  font-size: 1.2rem;
}

.jogo > .btnNext {
  border-radius: 5px;
  padding: 5px;
}

.jogo > .btnNext:hover {
  cursor: pointer;
  background: #186384;
  color: #fff;
}
