body {
    background: #C0E8F9;
    font-size: 1rem;
    color: #353738;
}

h3 {
    font-size: 2rem;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 350px;
    background: #fff;
    margin: 80px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-radius: 10px;
}

.login label {
    margin: 10px;
}

.login label > input {
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.btn-player {
    width: 100px;
    margin: 20px;
    padding: 5px;
    background: #23CE6B;
    border-radius: 10px;
}

.btn-player:hover {
    background: #ccc;
    cursor: pointer;
}

.Button {
    padding: 5px;
    background: #087F8C;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
}